.main__header {
  background-image: url(../assets/img/star.jpg);
  background-size: cover;
  padding: 2rem 0 4rem;
  position: relative;
  font-family: "Oswald", sans-serif;
}

.header__component {
  justify-content: center;
  gap: 5rem;
  text-transform: uppercase;
  color: $color-white;
  font-weight: bold;
  font-size: 12px;
  a {
    letter-spacing: 0.2rem;
  }
}

.header__logo {
  width: 150px;
}

.main__nav {
  gap: 2rem;
}

.ul__search__nav {
  gap: 2rem;
  .cart {
    gap: 0.5rem;
    img {
      filter: invert(1);
    }
  }
}

.header__jumbotron {
  padding-top: 0.75rem;
  text-align: center;
  background-image: url(../assets/img/h3-rev-img-5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  img {
    width: 250px;
  }
}
.act {
  width: 25px;
  filter: invert(1);
}
.active {
  gap: 0.5rem;
}