* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

#app {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.a__center {
  align-items: center;
}

.btn {
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  background-color: #d2401e;
  font-family: "Oswald" , sans-serif;
}

.text__up {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 1.125em;
  letter-spacing: 0;
  font-weight: 500;
}
.font__500 {
  font-weight: 500;
}

.font__o {
  font-family: "Oswald", sans-serif;
}