* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li, menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.a__center {
  align-items: center;
}

.btn {
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #d2401e;
}

.text__up {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}